.jens-page {
  background-color: white;
  font-family: 'Raleway', 'sans-serif';
}

.jens-recipes img{
  max-width: 100%;
  max-height: 100%;
}

.jumbotron {
  background-image: url('../images/blue_ridge_mountains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  padding: 10%;
  margin-top: -40px;
  position: center

}
